{% extends 'parent/base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    {% with user=request.user %}
        <p>سلام {{ user.get_full_name }} عزیز</p>
        {% if user.photo %}
            <a href="{{ user.photo.url }}">
                <img src="{% thumbnail user.photo 100x100 quality=80 %}">
            </a>
        {% else %}
            <img src="{% static 'images/profile/765-default-avatar.png' %}" style="height: 100px; width: 100px;">
        {% endif %}
    {% endwith %}

    <h4>پست های ذخیره شده</h4>

    <ul>
        {% for post in saved_posts %}
            <a href="{{ post.get_absolute_url }}">
                {{ post.description|truncatewords:10 }}
            </a>
            <p>توسط در تاریخ منتشر شد {{ post.create }}{{ post.author }}</p>
            <br>
            <hr>
        {% endfor %}
    </ul>

{% endblock %}